/* for fontAwsome up aero degree change to 45 */
.fa-rotate-45 {
    transform: rotate(45deg);
}
.roundPrimary{
    height: 1.7rem;
    width: 1.7rem;
    
    background-color: #ABEF5F;
    border-radius: 9999px;
}
.roundSecondary{
    height: 1.5rem;
    width: 1.5rem;
    background-color: #1C1C1C;
    border-radius: 9999px;
}
.roundExtra{
    height: 1.5rem;
    width: 1.5rem;
    background-color: white;
    border-radius: 9999px;
}

.fa-fw{
    height: 1.5rem;
    width: 1.5rem;

}